OPENAI_API_KEY=
ANTHROPIC_API_KEY=
MISTRAL_API_KEY=
FIREWORKS_API_KEY=
GOOGLE_API_KEY=
# GCP=
LANGCHAIN_API_KEY=
# NEWS_API_KEY=
#LANGCHAIN_TRACING_V2 = "true"
#LANGCHAIN_PROJECT = 
#LANGCHAIN_ENDPOINT = "https://api.smith.langchain.com"

#GRADIO_USER =
#GRADIO_PASSWORD =