python-dotenv
langchainhub
langchain
langchain-community
langchain-core
langchain-fireworks
langchain-google-genai
langchain-google-vertexai
langchain-anthropic
langchain-mistralai
langchain-openai
langsmith
pandas
gradio
gradio_client
wikipedia
numexpr
ipykernel
ipywidgets
duckduckgo-search
arxiv
